#contact-social-footer {

}

#contact-social-footer h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

#contact-social-footer h1::first-letter,
#contact-social-footer h1 a {
    font-size: 24px;
}

#contact-social-footer h2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

.logo-footer {
    display: table;
    margin: 0 auto 30px auto;
}

.logo-footer img {
    filter: grayscale(100%) invert(100%) brightness(200%);
    width: 75%;
    display: table;
    margin: auto;
}

#contact-social-footer p {
    text-align: center;
}

#contact-social-footer p a {
    text-decoration: none;
    color: #FFF;
}

#contact-social-footer p a:hover {
    color: #a1c9e1;
}

#contact-social-footer p a.phone-footer {
    font-size: 24px;
}

#contact-social-footer p a.email-txt-footer {
    font-size: 24px;
}

ul.contact-social-footer {
    list-style: none;
    display: table;
    margin: 25px auto 20px auto;
    padding: 0;
}

ul.contact-social-footer.footer-contato {
    margin: 0 auto;
}

ul.contact-social-footer.footer-contato li {
    display: table;
    margin: auto;
}

ul.contact-social-footer.footer-contato li a {
    font-size: 16px;
}

ul.contact-social-footer li {
    display: table;
    float: left;
    padding: 0;
    margin: 0 5px;
}

ul.contact-social-footer li a {
    color: #322b2a;
    text-decoration: none;
    font-size: 20px;
}

ul.contact-social-footer li a i {
    font-size: 36px;
}

ul.contact-social-footer li a span {
    margin-left: 10px;
}

ul.contact-social-footer li a.facebook,
ul.contact-social-footer li a.linkedin {
    line-height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: #322b2a;
    display: table;
}

ul.contact-social-footer li a.facebook i {
    font-size: 20px;
    color: #EAE2CC;
}

ul.contact-social-footer li a.linkedin i {
    font-size: 18px;
    color: #EAE2CC;
}