#article-home {
    width: 100%;
    display: table;
}

.description {
    width: 1170px;
    display: table;
    margin: 0 auto 40px auto;
}

.description h1 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.text-description {
    color: #FFF;
}

#article-home .btn-linkpage {
    background: transparent;
    float: right;
    border: 1px solid #FFF;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 15px;
    font-size: 14px;
}

#article-home .btn-linkpage span{
    font-size: 24px;
    display: table;
    float: right;
    line-height: 0;
    padding-top: 8px;
}


#article-home .btn-linkpage:hover {
    background-color: #FFF;
    color: #081a30;
}